In [45]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import tabulate
from tabulate import tabulate
# Gráficos
# ==============================================================================

In [47]:
#cargar datos 
path = 'C:\\Users\\LENOVO 2021\\Downloads\\'
datos=pd.read_csv(path+'review_pelis.csv',sep="|",encoding='utf8',on_bad_lines='skip')

In [48]:
datos.head()

,film_name,Unnamed: 1,gender,Unnamed: 3,film_avg_rate,Unnamed: 5,review_rate,Unnamed: 7,review_title,Unnamed: 9,review_text
0,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,3.0,NaN,OCHO APELLIDOS VASCOS...Y NINGÚN NOMBRE PROPIO,NaN,La mayor virtud de esta película es su existen...
1,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,El perro verde,NaN,"No soy un experto cinéfilo, pero pocas veces m..."
2,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,Si no eres de comer mierda... no te comas esta...,NaN,Si no eres un incondicional del humor estilo T...
3,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,Aida: The movie,NaN,"No sé qué está pasando, si la gente se deja ll..."
4,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,UN HOMBRE SOLO (Julio Iglesias 1987),NaN,"Pero cuando amanece,y me quedo solo,siento en ..."

In [5]:
#limpieza de datos
#Deteccion de datos nulos:
datos.notnull()

,film_name,Unnamed: 1,gender,Unnamed: 3,film_avg_rate,Unnamed: 5,review_rate,Unnamed: 7,review_title,Unnamed: 9,review_text
0,True,False,True,False,True,False,True,False,True,False,True
1,True,False,True,False,True,False,True,False,True,False,True
2,True,False,True,False,True,False,True,False,True,False,True
3,True,False,True,False,True,False,True,False,True,False,True
4,True,False,True,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...
8595,True,False,True,False,True,False,True,False,True,False,True
8596,True,False,True,False,True,False,True,False,True,False,True
8597,True,False,True,False,True,False,True,False,True,False,True
8598,True,False,True,False,True,False,True,False,True,False,True
8599,True,False,True,False,True,False,True,False,True,False,True

In [120]:
# relleno de los datos nulos se opto puesto que es mucho mejor que asignar un valor arbitrario a los datos, 
#además que se garantiza que los datos se mantengan dentro de un rango específico

datos.fillna(method="bfill")

,film_name,Unnamed: 1,gender,Unnamed: 3,film_avg_rate,Unnamed: 5,review_rate,Unnamed: 7,review_title,Unnamed: 9,review_text
0,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,3.0,NaN,OCHO APELLIDOS VASCOS...Y NINGÚN NOMBRE PROPIO,NaN,La mayor virtud de esta película es su existen...
1,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,El perro verde,NaN,"No soy un experto cinéfilo, pero pocas veces m..."
2,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,Si no eres de comer mierda... no te comas esta...,NaN,Si no eres un incondicional del humor estilo T...
3,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,Aida: The movie,NaN,"No sé qué está pasando, si la gente se deja ll..."
4,Ocho apellidos vascos,NaN,Comedia,NaN,"6,0",NaN,2.0,NaN,UN HOMBRE SOLO (Julio Iglesias 1987),NaN,"Pero cuando amanece,y me quedo solo,siento en ..."
...,...,...,...,...,...,...,...,...,...,...,...
8595,La isla mínima,NaN,Cine negro,NaN,"7,2",NaN,10.0,NaN,magnífica,NaN,"Buena no, lo siguiente. Por fin un film serio ..."
8596,La isla mínima,NaN,Cine negro,NaN,"7,2",NaN,3.0,NaN,"Mucho bombo por ser española, pero es igual qu...",NaN,"Me esperaba mucho, pero que mucho, más.Guión m..."
8597,La isla mínima,NaN,Cine negro,NaN,"7,2",NaN,4.0,NaN,¿Quién me quita ahora este mal sabor de boca?,NaN,"De mal cuerpo como sensación al finalizar, de ..."
8598,La isla mínima,NaN,Cine negro,NaN,"7,2",NaN,1.0,NaN,La isla española,NaN,Los que han añadido comentarios os lo han dich...
8599,La isla mínima,NaN,Cine negro,NaN,"7,2",NaN,2.0,NaN,"Perdonen, pero no soy tan inteligente....",NaN,Fui a ver esta película de cine con entusiasmo...

In [121]:
# descripcion de los datos 
print (datos.describe)

<bound method NDFrame.describe of                   film_name  Unnamed: 1      gender  Unnamed: 3 film_avg_rate  \
0     Ocho apellidos vascos         NaN     Comedia         NaN           6,0
1     Ocho apellidos vascos         NaN     Comedia         NaN           6,0
2     Ocho apellidos vascos         NaN     Comedia         NaN           6,0
3     Ocho apellidos vascos         NaN     Comedia         NaN           6,0
4     Ocho apellidos vascos         NaN     Comedia         NaN           6,0
...                     ...         ...         ...         ...           ...
8595         La isla mínima         NaN  Cine negro         NaN           7,2
8596         La isla mínima         NaN  Cine negro         NaN           7,2
8597         La isla mínima         NaN  Cine negro         NaN           7,2
8598         La isla mínima         NaN  Cine negro         NaN           7,2
8599         La isla mínima         NaN  Cine negro         NaN           7,2

      Unnamed: 5  review_rate  Unnamed: 7  \
0            NaN          3.0         NaN
1            NaN          2.0         NaN
2            NaN          2.0         NaN
3            NaN          2.0         NaN
4            NaN          2.0         NaN
...          ...          ...         ...
8595         NaN         10.0         NaN
8596         NaN          3.0         NaN
8597         NaN          4.0         NaN
8598         NaN          1.0         NaN
8599         NaN          2.0         NaN

                                           review_title  Unnamed: 9  \
0        OCHO APELLIDOS VASCOS...Y NINGÚN NOMBRE PROPIO         NaN
1                                        El perro verde         NaN
2     Si no eres de comer mierda... no te comas esta...         NaN
3                                       Aida: The movie         NaN
4                  UN HOMBRE SOLO (Julio Iglesias 1987)         NaN
...                                                 ...         ...
8595                                          magnífica         NaN
8596  Mucho bombo por ser española, pero es igual qu...         NaN
8597      ¿Quién me quita ahora este mal sabor de boca?         NaN
8598                                   La isla española         NaN
8599          Perdonen, pero no soy tan inteligente....         NaN

                                            review_text
0     La mayor virtud de esta película es su existen...
1     No soy un experto cinéfilo, pero pocas veces m...
2     Si no eres un incondicional del humor estilo T...
3     No sé qué está pasando, si la gente se deja ll...
4     Pero cuando amanece,y me quedo solo,siento en ...
...                                                 ...
8595  Buena no, lo siguiente. Por fin un film serio ...
8596  Me esperaba mucho, pero que mucho, más.Guión m...
8597  De mal cuerpo como sensación al finalizar, de ...
8598  Los que han añadido comentarios os lo han dich...
8599  Fui a ver esta película de cine con entusiasmo...

[8600 rows x 11 columns]>

In [122]:
### total de datos que no contienen  Nulos
datos.isnull().sum()

film_name           0
Unnamed: 1       8600
gender              0
Unnamed: 3       8600
film_avg_rate       0
Unnamed: 5       8600
review_rate         2
Unnamed: 7       8600
review_title        0
Unnamed: 9       8600
review_text         0
dtype: int64

In [136]:
# Dimensiones del dataset
# ==============================================================================
datos.shape

(8600, 11)

In [137]:
fig, axes = plt.subplots(nrows=3, ncols=1, figsize=(6, 6))
sns.distplot(
    datos.precio,
    hist    = False,
    rug     = True,
    color   = "blue",
    kde_kws = {'shade': True, 'linewidth': 1},
    ax      = axes[0]
)
axes[0].set_title("Distribución original", fontsize = 'medium')
axes[0].set_xlabel('precio', fontsize='small') 
axes[0].tick_params(labelsize = 6)

sns.distplot(
    np.sqrt(datos.precio),
    hist    = False,
    rug     = True,
    color   = "blue",
    kde_kws = {'shade': True, 'linewidth': 1},
    ax      = axes[1]
)
axes[1].set_title("Transformación raíz cuadrada", fontsize = 'medium')
axes[1].set_xlabel('sqrt(precio)', fontsize='small') 
axes[1].tick_params(labelsize = 6)

sns.distplot(
    np.log(datos.precio),
    hist    = False,
    rug     = True,
    color   = "blue",
    kde_kws = {'shade': True, 'linewidth': 1},
    ax      = axes[2]
)
axes[2].set_title("Transformación logarítmica", fontsize = 'medium')
axes[2].set_xlabel('log(precio)', fontsize='small') 
axes[2].tick_params(labelsize = 6)

fig.tight_layout()

NameError: name 'plt' is not defined